<style>
  .label {
    background-color: blue;
    width: 300px;
    color: white;
    padding: 12px 32px;
    border-radius: 8px;
  }

  .box {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
  }
  .active {
    background-color: aquamarine;
  }
  .home1 {
    background-color: red;
  }
  .coin {
    color: white;
    background-color: red;
    padding: 5px;
    position: absolute;
    transition-timing-function: linear;
    z-index: 1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    /* transition-duration: 5s; */
  }

  .red {
    background-color: black;
    color: white;
  }
  .blue {
    background-color: black;
    color: white;
  }
  .green {
    background-color: black;
    color: white;
  }
  .yellow {
    background-color: black;
    color: white;
  }

  .innerHome {
    width: 150px;
    height: 150px;
    background: white;
    margin: auto;
    transform: translateY(28px);
    border-radius: 8px;
  }

  .home1 {
    position: absolute;
    width: 210px;
    height: 210px;
    transform: translate(0px, 336px);
    border-radius: 8px;
  }

  .home2 {
    position: absolute;
    width: 210px;
    height: 210px;
    background-color: blue;
    border-radius: 8px;
  }

  .home3 {
    position: absolute;
    width: 210px;
    height: 210px;
    background-color: green;
    transform: translate(336px, 0px);
    border-radius: 8px;
  }

  .home4 {
    position: absolute;
    width: 210px;
    height: 210px;
    background-color: yellow;
    transform: translate(336px, 336px);
    border-radius: 8px;
  }

  .destination {
    background-color: aqua;
    width: 125px;
    height: 125px;
    transform: translate(210px, 210px);
  }
</style>

<div>
  <h1 class="label" [style.background-color]="board.players[this.activePlayer].color">
    Player {{ this.activePlayer}}
  </h1>

  <div style="display: flex; align-items: center;">
    <button (click)="killAnimation(board.players[activePlayer])">Kill</button>
    <button style="margin-left: 25px;" (click)="rollDice()">Roll Dice</button>
    <h3 style="margin-left: 25px;">{{ board.dice }}</h3>
  </div>

  <div style="position: relative;">
    <div
      *ngFor="let coin of coins; index as i"
      class="coin"
      [style.background-color]="coin.color"
      [style.transform]="getCoinXYPosition(coin)"
    >
      C
    </div>

    <div class="home1" style="position: absolute;">
      <div class="innerHome"></div>
    </div>
    <div class="home2" style="position: absolute;">
      <div class="innerHome"></div>
    </div>
    <div class="home3" style="position: absolute;">
      <div class="innerHome"></div>
    </div>
    <div class="home4" style="position: absolute;">
      <div class="innerHome"></div>
    </div>
    <div class="destination" style="position: absolute;"></div>

    <div *ngFor="let y of board.yplane; index as i">
      <div style="display: inline-flex;">
        <div
          class="box"
          *ngFor="let x of board.xplane; index as j"
          [attr.id]="x + ':' + y"
          [ngClass]="drawHomes(x, y)"
          [style.background-color]="drawHomes(x, y)"
        >
          {{ x }} {{ y }}
        </div>
      </div>
    </div>
  </div>
</div>
